@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:700|Nobile:500);
html,
body {
  height: 100%;
  background-color: #222222;
  font-family: 'Nobile', sans-serif;
  color: #ffffff;
  margin: initial;
}
body {
  overflow-y: scroll;
}

div{
  vertical-align: baseline;
}

.bottom{
  position: relative;
  padding-bottom: 15px;
  width: 100%;
  text-align: center;
}

.bottom li{
  display: inline;
  padding: 1vw;
  font-size: 1vw;
}

.menu{
  border-bottom: solid #ffffff;
  display: inline-block;
  margin-left: 37.5%;
  position: absolute;
  width: 25%;
  top: 40px;
  text-align: center;
}

.menu li{
  display: inline;
  padding: 1vw;
  font-size: 1vw;
}

/*unvisited*/
a:link{
    color: #ffffff;
    text-decoration: none;
}

/* visited link */
a:visited{
    color: #ffffff;
}

/* mouse over link */
.menu a:hover{
    font-weight:bold;
}

.linkedin{
    content: url('icons/linkedin.png');
    display: inline-block;
    height: 2vw;
    width: 2vw;
}

.linkedin:hover{
    content: url('icons/linkedin2.png');
    display: inline-block;
    height: 2vw;
    width: 2vw;
}
div.container {
    margin-top: 130px;
    width: 80%;
    margin-left:10%;
    text-align: center;
}

div.box {
    box-sizing: border-box;
    width: 33.33%;
    height:20vw;
    float: left;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.box img{
  width: 100%;
  max-height: 83%;
  border: 1px solid white;
  border-radius: 5px;
}

.box p{
  font-size: 1.25vw;
  margin-top: 2.5%;
}




