body{
	font-family: 'Nobile', sans-serif;
	color: #FFFFFF;
	justify-content: center;
	background-color: #222222;
}

h1{
	color: #00fff2;
	margin-top: 0px;
	margin-left: 0px;

}

a:hover{ 
	color: #00fff2;
}