body{
	font-family: 'Nobile', sans-serif;
	color: #FFFFFF;
	justify-content: center;
	background-color: #222222;
}

h1{
	color: #00fff2;
	margin-top: 0px;
	margin-left: 0px;
	font-size: 75px;
}

.menuBar a:hover{ 
	color: #00fff2;
}

.menuBar li{
	display: inline;
	padding: 15px;
	font-size: 20px;
}


.bottom li{
	vertical-align: bottom;
	margin: 0px;
	display: inline;
	padding: 50px;
}
